{% extends 'BaseApp/pages/generic_page.html' %}
{% block page_content %}
    <div class="homepage-grid">
        <div class="row-1-main loading-container">
            <div id="main-content" class="loaded-content">
                <!-- Main content will be loaded here -->
            </div>
        </div>
        <div class="row-1-sidebar loading-container">
            <div id="sidebar-content" class="loaded-content">
                <!-- Sidebar content will be loaded here -->
            </div>
        </div>
        <div class="row-2-quarter loading-container">
            <div id="quarter-1-content" class="loaded-content">
                <!-- Quarter 1 content will be loaded here -->
            </div>
        </div>
        <div class="row-2-quarter loading-container">
            <div id="quarter-2-content" class="loaded-content">
                <!-- Quarter 2 content will be loaded here -->
            </div>
        </div>
        <div class="row-2-quarter loading-container">
            <div id="quarter-3-content" class="loaded-content">
                <!-- Quarter 3 content will be loaded here -->
            </div>
        </div>
        <div class="row-2-quarter loading-container">
            <div id="quarter-4-content" class="loaded-content">
                <!-- Quarter 4 content will be loaded here -->
            </div>
        </div>
        <div class="row-3-full loading-container">
            <div id="full-width-content" class="loaded-content">
                <!-- Full width content will be loaded here -->
            </div>
        </div>
    </div>
{% endblock %}
